
<!doctype html5>
<html lang="en">



<head>
    <style>
        body {

            background-color: white;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>LiveContests</title>

</head>


<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header  mx-0 my-0 mb-0 px-0 bg-white">
                    <img src="/static/logo.png" href="/" width="400" height="60">

                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active bg-info" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-info mx-2" style="color:white" href="/about"> About us</a>
                    </li>


                </ul>
                <h3 class="text-center ">
                    Running Contests
                </h3>
                {%for run in running%}
                <div class="container my-2">
                    <div class="card text-white bg-info">
                        <h5 class="card-header">
                        <p> <strong>{{run.site}}  </strong>
                            {{run.name}}
                            </p>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <pre>Start Date:{{run.start_date}}    Start Time:{{run.start_time}}
End Date:{{run.end_date}}      End Time:{{run.end_time}}             <a href={{run.link}} class="btn btn-primary">Contest Link</a></pre>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor%}
                <div class="container my-4">
                <h3 class="text-center ">
                    Future Contests
                </h3>
                
                {%for fut in future%}
                <div class="container my-2">
                    <div class="card text-white bg-info">
                        <h5 class="card-header">
                            <p> <strong>{{fut.site}}  </strong>
                            {{fut.name}}
                            </p>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <pre>Start Date:{{fut.start_date}}    Start Time:{{fut.start_time}}
End Date:{{fut.end_date}}      End Time:{{fut.end_time}}             <a href={{fut.link}} class="btn btn-primary">Contest Link</a></pre>
                            </p>
                        </div>

                    </div>
                    {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>